.search__form {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 80%;
  input {
    all: unset;
    padding: 11px 15px !important; 
    border-radius: 40px 0px 0px 40px !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 90%;
    margin-bottom: 0px !important;
  }
  button {
    all: unset;
    max-height: 43px;
    height: 43px;
    width: 60px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px 40px 40px 0px;
    
  }
}

.search__div{
  display: flex;
  align-items: center;
  justify-content: center;
  width:62%;
  
}