navbar
    ul 
        li  
            a(href="/")
                i.fas.fa-home 
                b home
        li  
            a(href=`/users/${loggedInUser._id}`)
                i.fas.fa-home 
                b My profile
        li  
            a(href="/")
                i.fas.fa-home 
                b home
    hr
